<template>
  <div>
    <SearchInput @refetch="refetch" />
    <div v-if="results.length">{{ `Search results: ${results.length}` }}</div>
    <SearchResults :results="results" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import SearchInput from "./search-input.vue";
import SearchResults from "./search-results.vue";
import { SEARCH_RESULTS_QUERY } from "./queries";

@Component({
  components: {
    SearchInput,
    SearchResults
  }
})
export default class SearchComponent extends Vue {
  private results = [];

  private clear() {
    this.results = [];
  }

  async refetch(term: string) {
    if (!term || term === "") {
      this.clear();
      return;
    }
    const { data: { searchAll = [] } = {} } = await this.$apollo.query({
      query: SEARCH_RESULTS_QUERY,
      variables: { term }
    });
    this.results = searchAll;
  }
}
</script>
