<template>
  <div>
    <input type="text" v-model="term" @change="onRefetch" />
    <div>{{ term }}</div>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";

export default class SearchInput extends Vue {
  private term = "";

  onRefetch = () => {
    this.emitRefetch(this.term);
  };

  @Emit("refetch")
  emitRefetch(term: string) {}
}
</script>
