<template>
  <div id="app">
    <h1>TSA Search app</h1>
    <navbar />
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import NavigationBar from "./components/navigation-bar.vue";

@Component({
  components: {
    navbar: NavigationBar
  }
})
export default class App extends Vue {}
</script>
